/* Background - Changer Project */

html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  .Home{
    background-color: #dddddd8c;
    border-radius: 6px;
    padding: 4px;
    text-decoration: none;
    margin: auto;
    display: inline-block;
    width: 100px;
    text-align: center;
    border: 2px solid black;
  }
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }
  #black {
    background: rgba(0, 0, 0, 0.836);
  }
  #red {
    background: red;
  }
  